.container {
    padding: 16px;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat( auto-fill, minmax(285px, 1fr) );
}

mat-card-title {
    font-size: 1.1rem !important;
}

.truncate {
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }