<div class="container">
    <mat-card class="example-card" *ngFor="let destacado of destacados$ | async">
        <mat-card-header>
          <mat-card-title class="truncate">{{ destacado.titulo }}</mat-card-title>
          <mat-card-subtitle>{{ destacado.categoria }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="http://localhost:3000/upload/{{ destacado.imagen }}">
        <mat-card-content>
          <p class="truncate">{{ destacado.descripcion }}</p>
          <a mat-button color="primary"
          routerLink="/{{ destacado.categoria | lowercase }}/{{ destacado._id }}" >Más información</a>
        </mat-card-content>
    </mat-card>
</div>


