<div class="container-header">
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="toggleSideNav()">
            <mat-icon>menu</mat-icon>
        </button>
        <div id="paginaInicial">
            <mat-icon>airline_seat_flat</mat-icon>
            <mat-list-item routerLink="/">Tienda de colchones</mat-list-item>
        </div>
    </mat-toolbar>

    <mat-sidenav-container>
        <mat-sidenav [mode]="style" [opened]="open" #sidenav role="navigation">
            <main>
                <mat-nav-list>
                    <mat-list-item (click)="navega('/colchones')">COLCHONES</mat-list-item>
                    <mat-list-item (click)="navega('/somieres')">SOMIERES</mat-list-item>
                </mat-nav-list>
            </main>
        </mat-sidenav>
        <mat-sidenav-content>
            <main>
                <div *ngIf="showDestacados"><app-destacados></app-destacados></div>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

