
h3 {
    color: gray;
}

.botones {
    display: flex;
    justify-content: space-around;
}

.botones input {
    color: white;
    padding: 10px;
    border: none;
    border-radius: none;
    width: 40%;
    outline: 1px solid gray;
    margin-top: 30px;
}
.botones input:first-of-type {
    background-color: rgb(132, 221, 132);
}
.botones input:last-of-type {
    background-color: red;
}

.botones input:focus, .botones input:active  {
    border:none;
}